$min-width: 320px;
$main-background: #ffffff;
$additional-background: #ffffff;
$color-text: #1f1e25;
$font-family: "roboto", "Arial", sans-serif;
$font-size: 18px;
$font-weight: 400;
$line-height: 130%;
