.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 93px;
}

.badge__icon {
  margin-right: 10px;
}

.badge p {
  @include style-reset;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  color: $color-text;
}
