.btn {
  @include style-reset;

  display: inline-block;
  vertical-align: middle;
  min-height: 53px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: $font-size;
  line-height: 21px;
  color: $color-main-background;
  text-align: center;
  background-color: $color-brand;
  padding: 16px 48px;
  cursor: pointer;
  transition: opacity $transition-2;

  @include media(xl) {
    padding: 14px 48px;
  }

  &:active {
    opacity: 0.4;

    @include media(xl) {
      opacity: 1;
    }
  }

  @include media(xl) {
    font-size: 16px;
    line-height: 19px;
    min-height: 48px;
    padding-left: 38px;
    padding-right: 38px;
  }

  @include media(m) {
    font-size: 14px;
    line-height: 16px;
    min-height: 43px;
  }

  &--white {
    color: $color-text;
    background-color: $color-main-background;
    padding-left: 36px;
    padding-right: 36px;

    @include media(xl) {
      padding-left: 31px;
      padding-right: 31px;
    }
  }

  &--w100 {
    font-size: 16px;
    line-height: 140%;
    width: 100%;

    @include media(m) {
      font-size: 14px;
      padding-top: 18px;
    }
  }

  &--w90 {
    font-size: 16px;
    line-height: 140%;
    width: 89%;

    @include media(xl) {
      width: 92.5%;
    }

    @include media(m) {
      font-size: 14px;
      width: 100%;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &--services {
    font-size: 16px;
    line-height: 19px;
    padding-left: 31px;
    padding-right: 31px;

    @include media(m) {
      padding-top: 13px;
      padding-bottom: 11px;
    }
  }

  &--form {
    min-height: 52px;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 58px 14px;

    @include media(xl) {
      width: 100%;
      padding: 14px 58px 14px 65px;
    }

    @include media(m) {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &--popup {
    width: 100%;
    font-size: 18px;
    padding: 18px 30px 19px 30px;

    @include media(xl) {
      padding-top: 21px;
    }

    @include media(m) {
      font-size: 14px;
      padding-top: 19px;
      padding-bottom: 16px;
    }
  }
}
