.bullet {
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color-brand-dark;
  margin-left: 4px;
  margin-right: 4px;

  &::after {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include media(m) {
    width: 6px;
    height: 6px;
    margin-left: 3px;
    margin-right: 3px;
  }

  &--active {
    background-color: $color-main-background;
  }
}
