.calculate {
  width: 100%;
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  border: 1px solid $color-text;
  border-radius: $border-radius;
}

.calculate--with-btn .calculate__input {
  width: calc(100% - 120px);

  @include media(m) {
    width: calc(100% - 50px);
  }
}

.calculate__input {
  width: 100%;
  flex-grow: 1;
  border: none;
  font: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: $color-text;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 50px;
  padding-right: 50px;

  @include media(xl) {
    font-size: 16px;
  }

  @include media(m) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.calculate__btn {
  @include list-reset;

  font-size: 0;
  line-height: 0;
  display: block;
  position: relative;
  border: none;
  background-color: transparent;
  width: 60px;
  height: 58px;
  cursor: pointer;
  transition: opacity $transition-2;

  @include media(m) {
    width: 50px;
  }

  &::before {
    position: absolute;
    display: block;
    width: 16px;
    height: 2px;
    content: "";
    background-color: $color-text;
    top: 28px;
    left: 23px;
    margin-top: -1px;
    transition: background-color $transition-2;
  }

  &--plus {
    &::before {
      left: auto;
      right: 23.5px;
    }

    &::after {
      position: absolute;
      display: block;
      width: 2px;
      height: 16px;
      content: "";
      background-color: $color-text;
      right: 30px;
      top: 20px;
      margin-left: -1px;
      transition: background-color $transition-2;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover::before,
  &:focus::after {
    background-color: $color-brand;

    @include media(xl) {
      background-color: $color-text;
    }
  }


  &:active {
    opacity: 0.4;
  }

  &:disabled {
    cursor: auto;

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $color-text;
      }
    }
  }
}
