.contacts {
  display: block;
}

.contacts__top {
  background-color: $color-main-background;
  padding-top: 34px;
  padding-bottom: 28px;
  border-bottom: 1px solid $color-range;

  @include media(xl) {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  @include media(m) {
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
}

.contacts__map {
  width: 100%;
  height: 462px;
  background-image: url("../img/map/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include media(xl) {
    background-image: url("../img/map/map-tablet.jpg");
  }

  @include media(m) {
    width: auto;
    height: 381px;
    background-image: url("../img/map/map-mob.jpg");
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;
  }
}
