.contacts {
  background-color: darkorchid;
  position: relative;
  height: 778px;

  &::before {
    display: block;
    width: 100%;
    position: absolute;
    left: 20px;
    top: 20px;
    content: "Контакты";
    font-weight: 700;
  }
}
