.credit {
  width: 100%;
}

.credit__main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.credit__box {
  width: 600px;
  margin-right: 30px;

  &--right {
    margin-right: 0;
    margin-left: auto;
  }

  &--center {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(xl) {
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
}

//.credit__rightBox {
//  margin-top: 5px;
//
//  @include media(xl) {
//    margin-top: 45px;
//    margin-left: 0;
//  }
//}
//
//.credit__centerBox {
//  margin-top: 70px;
//
//  @include media(xl) {
//    margin-top: 60px;
//  }
//}

.credit__element + .credit__element {
  margin-top: 33px;
}

.credit__option {
  margin-top: 21px;
}
