.element {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.element__label {
  @include style-reset;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: $color-text;
  margin-bottom: 17px;

  @include media(xl) {
    font-size: 18px;
    margin-bottom: 13px;
  }

  @include media(m) {
    font-size: 16px;
    margin-bottom: 9px;
  }
}

.element--top .element__label {
  margin-bottom: 22px;

  @include media(xl) {
    margin-bottom: 17px;
  }

  @include media(m) {
    margin-bottom: 14px;
  }
}

.element__slot {
  width: 100%;
  position: relative;
}

.element__list {
  @include list-reset;
}

.element__listItem {
  @include style-reset;

  width: 100%;
}

.element__listItem + .element__listItem {
  margin-top: 20px;

  @include media(xl) {
    margin-top: 15px;
  }

  @include media(m) {
    margin-top: 9px;
  }
}
