.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__area + .form__area {
  margin-top: 25px;

  @include media(m) {
    margin-top: 20px;
  }
}

.form--login-popup .form__btn {
  margin-top: 27px;

  @include media(m) {
    margin-top: 30px;
  }
}

.form__list {
  @include list-reset;

  width: 100%;
  margin-bottom: 30px;
}

.form__listItem {
  @include style-reset;

  border-bottom: 1px solid $color-form-line;
  padding-top: 14px;
  padding-bottom: 10px;

  @include media(m) {
    padding: 15px 0 13px;
  }
}

.form__grid {
  width: 100%;
  margin-top: -30px;
  margin-bottom: 40px;

  @include media(m) {
    margin-top: -20px;
    margin-bottom: 28px;
  }
}

.form__row {
  display: flex;
  padding-top: 30px;
  margin-left: -15px;
  margin-right: -15px;

  @include media(m) {
    width: 100%;
    flex-wrap: wrap;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.form__cell {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  &--w50 {
    width: 50%;

    @include media(m) {
      width: 100%;
    }
  }

  @include media(m) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
}
