.formArea {
  @include style-reset;

  width: 100%;
  display: flex;
  flex-direction: column;

  &--horizontal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media(m) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.formArea__label {
  @include style-reset;

  font-size: 16px;
  line-height: 140%;
  color: $color-text-label;
  margin-bottom: 9px;
}

.formArea--withoutLabel .formArea__label {
  @include visuallyHidden;
}

.formArea__slot {
  width: 100%;
  position: relative;
  z-index: 1;
}

.formArea__slot + .formArea__caption {
  margin-top: 7px;
}

.formArea__input {
  width: 100%;
  min-height: 60px;
  border: 1px solid $color-text;
  border-radius: $border-radius;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $color-text;
  padding-top: 16.8px;
  padding-bottom: 17.8px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: transparent;

  &--withBtn {
    padding-right: 70px;
  }
}

.formArea__visibleBtn {
  @include style-reset;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 24px;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $color-text;
  transition: color $transition-2, opacity $transition-2;
  transform: translateY(-50%);

  &:hover,
  &:focus {
    color: $color-brand;
    outline: none;
  }

  &:active {
    opacity: 0.4;
  }
}

.formArea__caption {
  &--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.formArea__caption a {
  @include style-reset;

  font-size: 12px;
  line-height: 140%;
  color: $color-text-gray;
}

.formArea__caption p,
.formArea__caption span {
  @include style-reset;

  font-size: 14px;
  line-height: 140%;
  color: $color-text-gray;
}

.formArea--horizontal .formArea__label {
  width: 280px;
  margin: 0;
}

.formArea--horizontal .formArea__slot {
  width: 220px;
}

.formArea--horizontal .formArea__input {
  border: none;
  padding: 0;
  min-height: auto;
  text-align: right;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: $color-text;

  @include media(m) {
    width: 100%;
    text-align: left;
  }
}

.formArea__error {
  display: none;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 1px;
  min-height: 58px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 16.8px;
  padding-bottom: 17.8px;
  padding-left: 24px;
  padding-right: 24px;
  color: darkred;
}

.formArea--error .formArea__error {
  display: block;
}

.formArea--error .formArea__input {
  border-color: red;
}
