.grayBox {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: $color-main-background;
  padding: 60px 60px 60px 58px;
  align-self: flex-start;

  @include media(xl) {
    width: 100%;
    padding: 60px;
  }

  @include media(m) {
    padding: 40px 15px;
  }
}

.grayBox--xs {
  width: 770px;
  padding: 70px;

  @include media(xl) {
    width: 100%;
    background-color: $main-background;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.grayBox__title {
  @include style-reset;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 40px;

  @include media(xl) {
    font-size: 22px;
  }
}

.grayBox--xs .grayBox__title {
  text-align: center;
}

.grayBox__grid {
  width: 100%;
  margin-top: -40px;
  margin-bottom: 40px;

  @include media(m) {
    margin-top: -25px;
  }
}

.grayBox__row {
  display: flex;
  padding-top: 40px;
  margin-left: -25px;
  margin-right: -25px;

  @include media(m) {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.grayBox__cell {
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;

  @include media(m) {
    width: 100%;
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
  }
}

.grayBox__value {
  @include style-reset;

  font-weight: 500;
  //font-size: 22px;
  font-size: 20px;
  line-height: 140%;
}

.grayBox__caption {
  @include style-reset;

  font-size: 16px;
  line-height: 140%;
  color: $color-text-label;
}
