.grayBox {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: $color-main-background;
  padding: 55px 60px 60px 58px;
  align-self: flex-start;

  @include media(xl) {
    width: 100%;
    padding: 60px;
  }

  @include media(m) {
    padding: 40px 15px;
  }
}

.grayBox--xs {
  width: 770px;
  padding: 70px;

  @include media(xl) {
    width: 100%;
    background-color: $main-background;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.grayBox__title {
  @include style-reset;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 25px;

  @include media(xl) {
    font-size: 22px;
  }
}

.grayBox--xs .grayBox__title {
  text-align: center;
}

.grayBox__grid {
  width: 100%;
  margin-top: -26px;
  margin-bottom: 33px;

  @include media(m) {
    margin-top: -25px;
  }
}

.grayBox__row {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  width: 100%;

  @include media(m) {
  }
}

.grayBox__cell {
  width: 200px;

  &--small {
    width: 156px;
  }

  @include media(m) {
    width: 100%;
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
  }
}

.grayBox__value {
  @include style-reset;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 2px;
}

.grayBox__caption {
  @include style-reset;

  font-size: 16px;
  line-height: 140%;
  color: $color-text-label;
}
