.mainNav {
  width: 640px;
  display: flex;
  align-items: flex-end;
  margin-top: -5px;

  @include media(xl) {
    width: 425px;
  }

  @include media(m) {
    display: none;
  }

  &--dropdown {
    display: none;

    @include media(m) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.mainNav__list {
  @include list-reset;

  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include media(m) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.mainNav__item {
  @include style-reset;

  max-width: 200px;
  display: flex;
  align-items: center;
  padding-left: 7.5px;
  padding-right: 7.5px;

  @include media(xl) {
    padding-left: 5.5px;
    padding-right: 5.5px;
  }
}

.mainNav--dropdown .mainNav__item {
  padding: 0;
  padding-right: 0;
}

.mainNav a {
  display: block;
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
  transition: color $transition-2, opacity $transition-2;
  padding: 5px;

  &:hover,
  &:focus {
    color: $color-brand;
    text-decoration: underline;
    outline: none;

    @include media(xl) {
      color: $color-text;
      transition: none;
      text-decoration: none;
    }
  }

  &:active {
    opacity: 0.4;

    @include media(xl) {
      opacity: 1;
    }
  }

  @include media(xl) {
    font-size: 14px;
    line-height: 16px;
  }
}

.mainNav--dropdown a {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
