.optionGroup {
  @include list-reset;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.optionGroup__item + .optionGroup__item {
  margin-left: 32px;

  @include media(m) {
    margin-left: 23px;
  }
}
