.option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option + .option {
  margin-top: 3px;
}

.option__input {
  @include visuallyHidden;
}

.option__input[type="checkbox"] + .option__element {
  display: block;
  width: 16px;
  height: 16px;
  background-color: $color-main-background;
  font-size: 0;
  line-height: 0;
  border-radius: 2px;
  border: 1px solid $color-brand;
}

.option__input[type="checkbox"]:checked + .option__element {
  background-image: url("../img/svg/mark-white.svg");
  background-repeat: no-repeat;
  background-color: $color-brand;
  background-position: 3px center;
}

.option__label {
  @include list-reset;

  font-size: 16px;
  line-height: 140%;
  color: $color-text;

  @include media(m) {
    font-size: 14px;
  }
}

.option__input:focus ~ .option__label {
  color: $color-brand;
  text-decoration: underline;
}

.option__element + .option__label {
  margin-left: 8px;
}

.option--xs .option__label {
  font-size: 14px;
}
