.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

.page__block {
  width: 100%;
  padding-bottom: 110px;
}
