.page {
  @include style-reset;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__layout {
  width: 100%;
  max-width: 1440px;
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;
  margin: 0 auto;

  @include media(xl) {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @include media(m) {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
}

.page__header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

.page__block {
  width: 100%;
  padding-bottom: 110px;

  @include media(xl) {
    padding-bottom: 80px;
  }

  @include media(m) {
    padding-bottom: 60px;
  }
}

.page__blockTitle {
  @include style-reset;

  font-weight: bold;
  font-size: 41px;
  line-height: 140%;
  color: $color-text;
  margin-bottom: 70px;

  @include media(xl) {
    font-size: 32px;
    margin-bottom: 45px;
  }

  @include media(m) {
    font-size: 22px;
    margin-bottom: 35px;
  }
}
