.page {
  @include style-reset;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  &--no-scroll {
    position: fixed;
    overflow-y: scroll;
  }

  &--no-scroll-mobile {
    @include media(m) {
      position: fixed;
      overflow-y: scroll;
    }
  }
}

.page__layout {
  width: 100%;
  max-width: 1440px;
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;
  margin: 0 auto;

  @include media(xl) {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @include media(m) {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
}

.page__header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

.page__block {
  width: 100%;
  padding-bottom: 97px;

  @include media(xl) {
    padding-bottom: 70px;
  }

  @include media(m) {
    padding-bottom: 54px;
  }

  &--contacts {
    padding-bottom: 110px;

    @include media(xl) {
      padding-bottom: 80px;
    }

    @include media(m) {
      padding-bottom: 60px;
    }
  }
}

.page__blockTitle {
  @include style-reset;

  font-weight: bold;
  font-size: 41px;
  line-height: 140%;
  color: $color-text;
  margin-bottom: 50px;

  @include media(xl) {
    font-size: 32px;
    margin-bottom: 28px;
  }

  @include media(m) {
    font-size: 22px;
    margin-bottom: 22px;
  }
}

.page__block--contacts .page__blockTitle {
  margin-bottom: 55px;

  @include media(xl) {
    margin-bottom: 33px;
  }

  @include media(m) {
    margin-bottom: 27px;
  }
}
