.pageHeader {
  width: 100%;
  background-color: $color-main-background;
}

.pageHeader__layout {
  width: 100%;
  max-width: $max-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 30px;
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;
  margin: 0 auto;

  @include media(xl) {
    padding: 11px 30px 5px 45px;
  }

  @include media(m) {
    padding: 0;
    background-color: $main-background;
    position: relative;
    z-index: 4;
    justify-content: flex-start;
  }
}

.pageHeader__toggle {
  @include style-reset;

  display: none;
  width: 46px;
  height: 48px;
  background-color: transparent;
  border: none;
  position: relative;

  @include media(m) {
    display: block;
  }
}

.pageHeader__toggle span {
  display: block;
  width: 16px;
  height: 2px;
  position: absolute;
  left: 15px;
  background-color: $color-text;
}

.pageHeader__toggle span:nth-child(1) {
  top: 18px;
  transition: top 0.1s ease 0.3s, transform 0.1s ease 0s;
}

.pageHeader__toggle span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s ease 0.2s;
}

.pageHeader__toggle span:nth-child(3) {
  bottom: 18px;
  transition: bottom 0.1s ease 0.3s, transform 0.1s ease 0s;
}

.pageHeader--open .pageHeader__toggle span:nth-child(1) {
  top: 23px;
  transform: rotate(45deg);
  transition: top 0.1s ease 0s, transform 0.1s ease 0.3s;
}

.pageHeader--open .pageHeader__toggle span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.2s ease 0.2s;
}

.pageHeader--open .pageHeader__toggle span:nth-child(3) {
  bottom: 23px;
  transform: rotate(-45deg);
  transition: bottom 0.1s ease 0s, transform 0.1s ease 0.3s;
}

.pageHeader__logo {
  display: block;
  width: 150px;
  height: 27px;
  flex-shrink: 0;
  margin-right: 8px;
  transform: translateY(-8px) translateX(-38px);

  @include media(xl) {
    width: 133px;
    height: 22px;
    margin-right: 55px;
    transform: translateY(-5px);
  }

  @include media(m) {
    width: 113px;
    height: 17px;
    margin-right: auto;
    transform: translateY(-4px);
    z-index: 4;
  }
}

.pageHeader__dropdown {
  display: none;

  @include media(m) {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background-color: $main-background;
    z-index: 3;
    padding: 50px;
    transition: transform $transition-3;
  }
}

.pageHeader--open .pageHeader__dropdown {
  overflow-y: auto;
  transform: translateY(100%);
}

.pageHeader__mainNav {
  margin-right: auto;
}

.pageHeader__userBtn {
  transform: translateY(-2px);
  margin-left: 15px;

  @include media(m) {
    transform: none;
  }
}

.pageHeader__dropdownNav {
  margin-top: auto;
}
