.phoneLink {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 200px;

  &--small {
    width: 155px;
    transform: translateX(4px);
  }
}

.phoneLink__number {
  @include style-reset;

  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $color-text;
  margin-bottom: 2px;
  transition: color $transition-2, opacity $transition-2;

  &:hover,
  &:focus {
    color: $color-brand;
    outline: none;

    @include media(xl) {
      color: $color-text;
    }
  }

  &:active {
    opacity: 0.4;

    @include media(xl) {
      opacity: 1;
    }
  }
}

.phoneLink__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  margin-right: 17px;

  @include media(m) {
    justify-content: flex-start;
    margin-right: 14px;
  }
}

.phoneLink__info {
  @include style-reset;

  max-width: 100%;
  margin-left: 33px;
  font-size: 12px;
  line-height: 140%;
  color: $color-text-gray;

  @include media(m) {
    margin-left: 30px;
  }
}
