.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 544px;
  min-height: 493px;
  background-color: $color-main-background;
  border: 4px solid $color-brand;
  padding: 52px 57px 59px;
  transform: translate(-50%, -50%);
  z-index: 10;

  @include media(xl) {
    width: 678px;
    padding: 56px 83px 59px 86px;
  }

  @include media(m) {
    width: calc(100% - 30px);
    padding: 45px 16px 43px;
    min-height: auto;
  }
}

.popup--show {
  display: block;
}

.popup__close {
  @include style-reset;

  display: block;
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 54px;
  right: 56px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity $transition-2;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: $color-text;
    transition: background-color $transition-2;
    border-radius: 2px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:focus {
    outline: none;
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $color-brand;

    @include media(xl) {
      background-color: $color-text;
    }
  }

  &:active {
    opacity: 0.4;

    @include media(xl) {
      opacity: 1;
    }
  }

  @include media(xl) {
    top: 55px;
    right: 83px;
  }

  @include media(xl) {
    top: 50px;
    right: 20px;
  }
}

.popup__logo {
  width: 150px;
  height: 27px;
  margin-bottom: 42px;
  margin-left: -2px;
  font-size: 0;
  line-height: 0;

  @include media(xl) {
    margin-bottom: 38px;
  }

  @include media(m) {
    margin-bottom: 31px;
    margin-left: -6px;
  }
}

.popup__link {
  display: none;

  @include media(m) {
    display: block;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: $color-text-gray;
    margin-top: 10px;
  }
}
