.services {
  background-color: cadetblue;
  position: relative;
  height: 562px;

  &::before {
    display: block;
    width: 100%;
    position: absolute;
    left: 20px;
    top: 20px;
    content: "Услуги";
    font-weight: 700;
  }
}
