.services {
  position: relative;
  padding-top: 60px;
  width: 100%;
  max-width: $max-width;
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;
  margin: 0 auto;

  @include media(xl) {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.services__thumbs-swiper-container {
  width: 100%;

  @include media(xl) {
    display: none;
  }
}

.services__thumbs-swiper-slide {
  box-sizing: border-box;
  width: 25%;
  display: flex;
  cursor: pointer;
  height: unset;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.services__thumbs-swiper-slide.swiper-slide-thumb-active {
  background-color: $color-main-background;
}

.services__main-swiper-wrapper {
  box-sizing: border-box;
  align-items: stretch;
}

.services__main-swiper-slide {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: unset;
  background-color: $color-main-background;
  justify-content: space-between;
  padding: 54px 135px 42px 70px;

  @include media(xl) {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 54px;
  }

  @include media(m) {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
    padding-bottom: 40px;
    min-height: 361px;
  }
}

.services__main {
  width: 395px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include media(xl) {
    width: 355px;
  }

  @include media(m) {
    width: 100%;
    align-items: stretch;
    position: relative;
    z-index: 1;
  }
}

.services__main h2 {
  @include style-reset;

  max-width: 100%;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 29px;

  @include media(xl) {
    font-size: 18px;
    margin-bottom: 22px;
  }

  @include media(m) {
    font-size: 16px;
    margin-bottom: 21px;
    width: 290px;
  }
}

.services__main li {
  font-size: 18px;
  line-height: 130%;

  @include media(xl) {
    font-size: 16px;
  }

  @include media(m) {
    font-size: 14px;
    width: 244px;
  }
}

.services__main ul {
  max-width: 100%;
  list-style-image: url("../img/svg/list-mark.svg");
  margin: 0 0 33px 0;
  padding-left: 20px;

  @include media(xl) {
    margin-bottom: 30px;
  }

  @include media(m) {
    list-style-image: url("../img/svg/list-mark-mob.svg");
    width: 235px;
    margin-bottom: 25px;
    padding-left: 16px;
  }
}

.services__main li + li {
  margin-top: 15px;

  @include media(xl) {
    margin-top: 17px;
  }

  @include media(m) {
    margin-top: 12px;
  }
}

.services__img {
  width: 440px;
  height: 290px;
  margin-top: 6px;
  margin-left: 50px;

  @include media(xl) {
    width: 289px;
    height: 260px;
    margin-left: 33px;
  }

  @include media(m) {
    position: absolute;
    right: 0;
    top: 98px;
    z-index: 0;
    width: 87px;
    height: 113px;
    margin-top: 0;
  }
}

.services__additional {
  max-width: 100%;
}

.services__additional a {
  @include style-reset;

  font-weight: 500;
  text-decoration: underline;
  color: $color-text;
  transition: color $transition-2, opacity $transition-2;

  &:hover,
  &:focus {
    outline: none;
    color: $color-brand;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.4;
  }
}

.services__additional p {
  @include style-reset;

  font-size: 18px;
  line-height: 140%;
}

.services__swiper-pagination {
  display: none;

  @include media(xl) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    position: absolute;
    bottom: 15px;
  }
}

.services__swiper-pagination.swiper-pagination-bullets {
  bottom: 40px;

  @include media(xl) {
    bottom: 15px;
  }

  @include media(m) {
    bottom: 10px;
  }
}
