.userNav {
  @include list-reset;

  width: 203px;
  display: flex;
  flex-wrap: wrap;

  @include media(xl) {
    width: auto;
  }
}

.userNav__item {
  @include style-reset;
}

.userNav__btn {
  display: flex;
  align-items: center;
  color: $color-text;
  position: relative;

  &:hover,
  &:focus {
    color: $color-brand;
    outline: none;

    @include media(xl) {
      color: $color-text;
    }
  }

  &:active {
    opacity: 0.4;

    @include media(xl) {
      opacity: 1;
    }
  }

  &::after {
    @include media(xl) {
      display: block;
      width: 200%;
      height: 200%;
      content: "";
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.userNav__btnIcon + .userNav__btnText {
  margin-left: 10px;
}

.userNav__btnIcon {
  color: inherit;
  transition: color $transition-2, opacity $transition-2;
  font-size: 0;
  line-height: 0;
  transform: translateY(-2px);

  @include media(m) {
    transform: none;
  }
}

.userNav__btnIcon svg {
  @include media(m) {
    width: 14px;
    height: 16px;
  }
}

.userNav__btnText {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  transition: color $transition-2, opacity $transition-2;

  @include media(xl) {
    display: none;
  }
}

.userNav__btn:hover .userNav__btnText,
.userNav__btn:focus .userNav__btnText {
  color: $color-brand;
  text-decoration: underline;
}

.userNav__btn:hover .userNav__btnIcon path,
.userNav__btn:focus .userNav__btnIcon path {
  fill: $color-brand;
}
