html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-width: $min-width;
  background-color: $main-background;
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0;
}

svg,
picture {
  font-size: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
select:focus,
textarea {
  appearance: none;
  outline: none;
}

input[type="text"]:disabled {
  opacity: 1;
}

.visually-hidden {
  @include visuallyHidden;
}
